:root {
  // colors
  --c-gradient01: #845ec2;
  --c-gradient02: #d65db1;
  --c-gradient03: #ff6f91;
  --c-gradient04: #ff9671;
  --c-gradient05: #ffc75f;
  --c-gradient06: #f9f871;

  --c-primary: var(--c-gradient01);
  --c-secondary: var(--c-gradient04);

  --c-neutral: #d6d6d6;
}
